#bt1{

font-size:30px;
cursor:pointer;
background-color:red;
width: 100px;
height:100px;
float:left;
line-height:100px;
}
#bt2{
font-size:30px;
cursor:pointer;
background-color:blue;
width:100px;
height:100px;
float:right;
line-height:100px;
}
#boneco{
position:absolute;
width:100px;
height:100px;
left:100px;
top:20px;
}
.controlos{
width:90%;
height:100px;
margin:0 auto;
position:relative;
border:1px solid black;
}

.areadejogo{
width:90%;
height:400px;
margin:0 auto;
position:relative;
border:1px solid red;
}

#bt3{
font-size:30px;
cursor:pointer;
background-color:green;
width:100px;
height:100px;
float:left;
line-height:100px;
}
#bt4{
font-size:30px;
cursor:pointer;
background-color:black;
width:100px;
height:100px;
float:right;
line-height:100px;
}